<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jade.finance.mapper.UserStockMapper">

    <resultMap type="com.jade.finance.entity.UserStock" id="UserStockMap">
        <result property="stockId" column="stock_id" jdbcType="INTEGER"/>
        <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
        <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
        <result property="stockType" column="stock_type" jdbcType="VARCHAR"/>
        <result property="stockPrice" column="stock_price" jdbcType="VARCHAR"/>
        <result property="stockNum" column="stock_num" jdbcType="VARCHAR"/>
        <result property="stockTime" column="stock_time" jdbcType="VARCHAR"/>
        <result property="stockUser" column="stock_user" jdbcType="VARCHAR"/>
        <result property="stockUserId" column="stock_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserStockMap">
        select
          stock_id, stock_code, stock_name, stock_type, stock_price, stock_num, stock_time, stock_user, stock_user_id
        from jade.user_stock
        where stock_id = #{stockId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserStockMap">
        select
          stock_id, stock_code, stock_name, stock_type, stock_price, stock_num, stock_time, stock_user, stock_user_id
        from jade.user_stock
        <where>
            <if test="stockId != null">
                and stock_id = #{stockId}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code = #{stockCode}
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name = #{stockName}
            </if>
            <if test="stockType != null and stockType != ''">
                and stock_type = #{stockType}
            </if>
            <if test="stockPrice != null and stockPrice != ''">
                and stock_price = #{stockPrice}
            </if>
            <if test="stockNum != null and stockNum != ''">
                and stock_num = #{stockNum}
            </if>
            <if test="stockTime != null and stockTime != ''">
                and stock_time = #{stockTime}
            </if>
            <if test="stockUser != null and stockUser != ''">
                and stock_user = #{stockUser}
            </if>
            <if test="stockUserId != null">
                and stock_user_id = #{stockUserId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="stockId" useGeneratedKeys="true">
        insert into jade.user_stock(stock_code, stock_name, stock_type, stock_price, stock_num, stock_time, stock_user, stock_user_id)
        values (#{stockCode}, #{stockName}, #{stockType}, #{stockPrice}, #{stockNum}, #{stockTime}, #{stockUser}, #{stockUserId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update jade.user_stock
        <set>
            <if test="stockCode != null and stockCode != ''">
                stock_code = #{stockCode},
            </if>
            <if test="stockName != null and stockName != ''">
                stock_name = #{stockName},
            </if>
            <if test="stockType != null and stockType != ''">
                stock_type = #{stockType},
            </if>
            <if test="stockPrice != null and stockPrice != ''">
                stock_price = #{stockPrice},
            </if>
            <if test="stockNum != null and stockNum != ''">
                stock_num = #{stockNum},
            </if>
            <if test="stockTime != null and stockTime != ''">
                stock_time = #{stockTime},
            </if>
            <if test="stockUser != null and stockUser != ''">
                stock_user = #{stockUser},
            </if>
            <if test="stockUserId != null">
                stock_user_id = #{stockUserId},
            </if>
        </set>
        where stock_id = #{stockId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from jade.user_stock where stock_id = #{stockId}
    </delete>

</mapper>